@font-face {
    font-family: Samim;
    src: url('../fonts/Samim-persian-digits-overwrite.eot');
    src: url('../fonts/Samim-persian-digits-overwrite.eot?#iefix') format('embedded-opentype'), url('../fonts/Samim-persian-digits-overwrite.woff') format('woff'), url('../fonts/Samim-persian-digits-overwrite.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Samim;
    src: url('../fonts/Samim-Bold-persian-digits-overwrite.eot');
    src: url('../fonts/Samim-Bold-persian-digits-overwrite.eot?#iefix') format('embedded-opentype'), url('../fonts/Samim-Bold-persian-digits-overwrite.woff') format('woff'), url('../fonts/Samim-Bold-persian-digits-overwrite.ttf') format('truetype');
    font-weight: bold;
}
body {
    background-color: #f5f8fa;
    direction: rtl;
    text-align: right;
    font-family: 'Samim', serif;
}